replicaCount: 1

ingress:
  enabled: true
  ingressClassName: nginx
  hosts:
    - host: test.apps-api.wasaachat.com
      paths:
        - path: /
          pathType: Prefix

hpa:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 70

resources:
  requests:
    cpu: 200m
    memory: 512Mi
    ephemeral-storage: 500Mi
  limits:
    cpu: 500m
    memory: 1Gi
    ephemeral-storage: 1Gi

serviceAccount:
  create: false
  name: default
